@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.title > h3 {
  font-family: "Dancing Script", cursive;
  font-size: xx-large;
}

.underline {
  height: 4px;
  width: 100px;
  border-radius: 20px;
  background-color: #daa520;
  text-align: center;
}
